*.desktop
*.mate-panel-applet
*.o
*.panel-applet
*.service
*.tar.gz
*.un~
.#*
.*.swp
*.la
*.lo
*.so
ltmain.sh
libtool
compile
.libs
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
missing
stamp-h1
xmonad-log-applet
